@page
@model IndexModel
@{    
    ViewData["Title"] = "Kodu";
}

<div class="text-center">
    <h1 class="display-4">Tere maailm</h1>
    <p>.NET 7 💜<a 
    <hr />
    <div>Raymond Econet</div>
</div>
